nav {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    padding: 25px;
    position: sticky;
    top: 0; 
    z-index: 999;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.menu ul li {
    list-style: none;
    display: flex;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
}

.menu ul li a:hover {
    color: var(--colorPrimario);
}


nav img {
    width: 200px;
}

.scrollBackground {
    background-color: var(--colorBg);
    transition: all .3s;
    box-shadow: 0px 6px 14px 0px rgba(56, 189, 248, .1);
    padding: 15px 25px;
}

@media (max-width:720px) {
    .menu ul {
        display: none;
    }
}
