:root {
  --colorBg: rgb(11, 17, 32);
  --colorBgLigth: rgb(15, 23, 42);
  --colorPrimario: rgb(56, 189, 248);

  --mobile: 480px;

  background-color: var(--colorBg);
}

.App {
  text-align: center;
  background-color: var(--colorBg);
}